¨*{
    font-family: "Roboto Mono", monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.calculator-container {
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.on-off-container {
    width: 50px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    background-color: #878282;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.on-of-button{
    width: 15px;
    height: 15px;
    background-color: #e1e4e2;
    border-radius: 100%;
    transition: transform 0.3s ease;
}

.on-off-container.on-of-button-active {
    justify-content: flex-end;
    background-color: #4caf50; /* Color de encendido */
}

.display {
    height: 80px;
    margin-bottom: 20px;
    text-align: right;
    color: #fff;
    border-bottom: 2px solid #555;
    padding: 10px;
    box-sizing: border-box;
}

.sub-display {
    font-size: 1rem;
    color: #bbb;
    height: 20px;
}

.main-display {
    font-size: 2rem;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s;
}

button:active {
    transform: scale(0.95); 
}

button:hover {
    background-color: #555;
}

button.button{
    background-color: #878282;
    pointer-events: none;
}

button.button-on{
    background-color: #ffffff;
    pointer-events: all;
}


button.operator {
    pointer-events: none;
    background-color: #173b18;
    
}

button.operator-on{
    background-color: #4caf50;
    color: #fff;
    pointer-events: all;
}

button.action {
    background-color: #401a19;
    pointer-events: none;
    
}

button.action-on{
    background-color: #d9534f;
    color: #fff;
    pointer-events: all;
}

button.equal {
    background-color: #1a4a73;
    pointer-events: none;
}

button.equal-on{
    background-color: #0275d8;
    color: #fff;
    pointer-events: all;
}

